
<button class="btn btn-primary" routerLink="/categories/create">Utwórz nową kategorię</button>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>ISBN</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories">
            <td>{{category.id}}</td>
            <td>{{category.subject}}</td>
            <td>{{category.ISBN}}</td>
            <td>
                <button class="btn btn-sm btn-secondary" routerLink="/categories/edit/{{category.id}}">Edit</button>
                <button class="btn btn-sm btn-secondary" (click)="deleteCategory(category.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>


