

<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Subject</th>
        <th scope="col">ISBN</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <th scope="row">{{category.id}}</th>
        <td>{{category.subject}}</td>
        <td>{{category.ISBN}}</td>
      </tr>
    </tbody>
  </table>

<button routerLink="/categories/edit/1" >Przenies mnie do szczegolow kategorii o ID 1</button>
